* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100vh;
    font-family: sans-serif;
    overflow: hidden;
}

/* grazie ad overflow: hidden, tutto il contenuto che esce dal body,
non genererà la scroll bar. */

/*********** 
UTILITY CLASS
************/

.flex {
    display: flex;
}

.p-rel {
    position: relative;
}

.no.dec {
    list-style-type: none;
}

.inline {
    display: inline;
}

/*********** 
ICONS
************/

.header-icon {
    font-size: 1.2rem;
    color: white;
}

/*********** 
BUTTONS
************/

.header-button {
    background-color: #252525;
    height: 2rem;
    border-radius: 5px;
    border: none;
    color: white;
    line-height: 2rem;
    padding: 0 0.8rem;
    font-size: 1.2rem;
}



/*********** 
HEADER
************/

header {
    position: absolute;
    top: 0;
    right: 0;
    height: 8vh;
}

.view {
    padding: 0.5rem;
}

/*********** 
MAIN
************/

main {
    height: calc(100vh-10vh);
}

.container {
    margin: 0 auto;
    padding-top: 6vh;
    width: 80vw;
    height: 90vh;
}

.row-cols-7 {
    height:calc(100%/5)
}

.row-cols-7 .col {
    flex-basis: calc(100%*1/7);
    padding: 1vh;
}

.cam {
    background-image: url(https://picsum.photos/1920/1080);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.user {
    position: absolute;
    bottom: 1vh;
    left: 0;
    font-size: 1rem;
}

.name {
    color: white;
}

.name::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f131";
    font-size: 0.6rem;
    margin-left: 0.5rem;
}

/*********** 
BOTTOM NAVBAR
************/

.bottom-navbar {
    height: 10vh;
    width: 100%;
    background-color: #252525;
}

.row-cols-3 {
    justify-content: space-between;
    align-items: center;
}

.row-cols-3 .col {
    height: 100%;
}

.row-cols-3 .col2 {
    flex-grow: 1;
    text-align: center;
}

.nav-button {
    font-size: 1rem;
    color: white;
    display: inline-block;
    padding: 0 3px;
}

.nav-icon,
.button-desc {
    display: block;
}

.nav-icon {
    font-size: 1.8rem;
}
.primary-button,
.scroll-button,
.nav-end-meeting-button {
    background-color: #252525;
    border: none;
    color: white;
}

.primary-button {
    flex-basis: calc(100%*4/5);
    height: 9vh;
}

.scroll-button {
    flex-basis: calc(100%*1/5);
    line-height: 10vh;
}

.col3>.nav-end-meeting-button {
    line-height: 10vh;
    background-color: #2d2d2d;
    padding: 0 15px;
}

/* sembra che il mio viewport sia alto più di 100vh... */
